# Node & Angular dependencies
node_modules/
dist/
.angular/

# Environment variables & secrets
.env
firebase-service-key.json
*.pem
*.db
*.db-journal
dev.db

# Logs
*.log
npm-debug.log*

# IDE & OS
.DS_Store
.vscode/
.idea/
