# Database connection URL
DATABASE_URL="postgresql://postgres:secret@localhost:5432/multiuser_db?schema=public"

# Express Port
PORT=3000

# Firebase project ID
FIREBASE_PROJECT_ID="your-firebase-project-id"
